
$bg_1: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #9a1fdc 100%);
$bg_2: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #c300a3 100%);

.lines{
  position: absolute;
  inset: 0;
  height: 100%;
  margin: auto;
  width: 100%;
}
.line{
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  /* background: rgba(255, 255, 255, 0.048); */
  overflow: hidden;

  &::after{
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        animation: drop 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    // &:nth-child(1){
    //     margin-left: -39%;
    //         &::after{
    //             animation-delay: 2s;
    //             background: $bg_1;
    //         }
    // }
    // &:nth-child(2){
    //     margin-left: -25%;
    //         &::after{
    //             animation-delay: 2s;
    //             background: $bg_2;
    //         }
    // }
    // &:nth-child(3){
    //     margin-left: 25%;
    //         &::after{
    //             animation-delay: 2s;
    //             background: $bg_1;
    //         }
    // }
    // &:nth-child(4){
    //     margin-left: 39%;
    //         &::after{
    //             animation-delay: 2s;
    //             background: $bg_2;
    //     }
    // }

    //En lugar de usar nth-child, se puede usar un bucle for para crear las lineas
    @for $i from 1 through 4{
        &:nth-child(#{$i}){ 
            margin-left: if($i == 1, -39%, if($i == 2, -25%, if($i == 3, 25%, 39%)));
            &::after{
                animation-delay: 2s;
                background: if($i % 2 == 0, $bg_2, $bg_1);
            }
        }
    }
}
@keyframes drop{
    0%{
        top: -50%;
    }
    100%{
        top: 100%;
    }
}